services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: petclinic
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: change_me
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - internal
    # IMPORTANT: no "ports:" here → not exposed

  redis:
    image: redis:7
    networks:
      - internal
    # IMPORTANT: no "ports:" here → not exposed

volumes:
  pg_data:

networks:
  internal:
    driver: bridge
